# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# PyInstaller
*.spec
# Keep the Buildozer spec in version control
!buildozer.spec

# Buildozer (Android build)
.buildozer/
bin/

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
